.home__group {
  position: relative;
}

.home__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80rem;
  overflow: hidden;
}

.home__img-text {
  background-color: rgba(27, 20, 36, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);

  color: var(--color-white);
}

.home__text-box {
  margin-left: -30%;
  text-align: center;
  width: 70rem;
}

.home__img-text--big {
  font-size: 12.8rem;
}

.home__img-text--small {
  font-size: 6.4rem;
  font-style: italic;
}
