:root {
  --color-navbar: 56, 58, 99; /* #383a63 */
  --color-dark-purple: 26, 20, 35; /* #1a1423 */
  --color-purple: 61, 48, 74; /* #3d304a */
  --color-second-purple: 104, 71, 86; /* #684756 */
  --color-white: 249, 249, 249; /* #f9f9f9 */
  --color-brown: 150, 112, 91; /* #96705b */
  --color-grey: 146, 146, 146; /* #929292 */
  --color-gold: 173, 136, 80; /* #ad8850 */
  --color-light-grey: 217, 217, 217; /* #D9D9D9 */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Tiro Gurmukhi", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SCROLLBAR  */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--color-dark-purple));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-brown));
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color-brown), 0.8);
}

/* REUSABLE */
.btn__details {
  cursor: pointer;
  position: relative;
  border: none;
  background-color: rgb(var(--color-purple));
  color: rgb(var(--color-white));
}

.btn__details::before,
.btn__details::after {
  content: "";
  position: absolute;
  background-color: rgb(var(--color-gold));
}

.btn__details::before {
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 80%;
}

.btn__details::after {
  height: 70%;
  width: 0.5rem;
}

.btn__details--small {
  padding: 0.5rem 2.5rem;
  font-size: 1.6rem;
}

.btn__details--small::before,
.btn__details--small::after {
  bottom: 0.5rem;
}

.btn__details--small::after {
  right: 1rem;
}

.btn__details--medium {
  padding: 1rem 4rem;
  font-size: 2rem;
}

.btn__details--medium::before,
.btn__details--medium::after {
  bottom: 0.8rem;
}

.btn__details--medium::after {
  right: 1.5rem;
}

/* GRID LAYOUTS */
.home__grid {
  grid-template-rows: repeat(3, auto);
}

.products__grid {
  display: grid;
  grid-template-rows: auto 8rem repeat(2, auto);
}

.home__grid {
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
}

.products__grid {
  grid-template-areas:
    "header header header header header"
    "sidebar-opener path path path path"
    "sidebar-opener sidebar ____ section ___"
    "footer footer footer footer footer";
  grid-template-columns: 5% 28rem 8% auto 10%;
}

.products__grid header {
  grid-area: header;
}

.products__grid .path {
  grid-area: path;
}

.products__grid aside {
  grid-area: sidebar;
}

.sidebar-opener {
  grid-area: sidebar-opener;
}

.products__grid section {
  grid-area: section;
}

.products__grid footer {
  grid-area: footer;
}

/* HEADING ----------------------------------------------------- */
.heading {
  text-align: center;
  margin-bottom: 2.4rem;
}

.heading h2 {
  font-size: 4.8rem;
  color: #3d314a;
  font-weight: 400;
}

.heading p {
  margin-top: -1.25rem;
  color: rgb(var(--color-brown));
  font-size: 2rem;
}

/* HEADER ------------------------------------------------------ */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: rgb(var(--color-navbar));
  height: 8rem;
  padding: 0 7rem;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__list {
  display: flex;
  gap: 2rem;
  height: 100%;
  font-size: 2.4rem;
}

.header__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 7px solid transparent;
  padding: 1rem;
}

.header__link i {
  color: rgb(var(--color-brown));
}

.header__link a:link,
.header__link a:visited {
  color: rgb(var(--color-white));

  margin-bottom: -7px; /* NEUTRALIZE BORDER BOTTOM SPACE */
}

.header__link a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__link--active {
  border-color: rgb(var(--color-brown));
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

/* FOOTER ------------------------------------------------------ */
.footer {
  background-color: rgb(var(--color-dark-purple));
  color: rgb(var(--color-white));
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
}

.footer__first-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.footer__icon-container {
  display: flex;
  gap: 2rem;
}

.footer__social-media i {
  font-size: 3.6rem;
  padding-top: 1rem;
}

.footer__icon--instagram {
  color: #c27ac8;
}

.footer__icon--twitter {
  color: #5086b8;
}

.footer__icon--facebook {
  color: #4054bb;
}

.footer__second-container {
  display: flex;
  text-align: center;
  gap: 3rem;
}

.footer__second-container h3 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.footer__second-container h4 {
  font-size: 1.6rem;
}

.footer__second-container p {
  font-size: 1.2rem;
}

/* INDEX PAGE ------------------------------------------------------ */
/* SLIDER */
.slider__group {
  position: relative;
}

.slider__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80rem;
  overflow: hidden;
  margin-top: -0.1rem;
}

.slider__img-text {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 60%;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);

  color: rgb(var(--color-white));
  background-color: rgba(var(--color-dark-purple), 0.7);
}

.slider__text-box {
  margin-left: -30%;
  text-align: center;
  width: 70rem;
}

.slider__img-text--big {
  font-size: 12.8rem;
}

.slider__img-text--small {
  font-size: 6.4rem;
  font-style: italic;
}

/* CATEGORIES */
.categories {
  border: 1px solid #dfdfdf;
  margin: 3rem;
  padding: 2.5rem;
}

.categories__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 3fr) 4fr 5fr;
  grid-template-rows: repeat(2, 35rem);
}

.categories__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-brown), 0.25);
  z-index: 10;
}

.categories__box--3 {
  grid-column: 1/3;
}

.categories__box--4 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.categories__box--5 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.categories__box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.categories__box--1 .categories__img {
  background: url("../assets/home-categories/kids.webp");
}

.categories__box--2 .categories__img {
  background: url("../assets/home-categories/outdoor.webp");
}

.categories__box--3 .categories__img {
  background: url("../assets/home-categories/indoor.webp");
}

.categories__box--4 .categories__img {
  background: url("../assets/home-categories/best-selling.webp");
}

.categories__box--5 .categories__img {
  background: url("../assets/home-categories/living-room.webp");
}

.categories__box--6 .categories__img {
  background: url("../assets/home-categories/office.webp");
}

.categories__box--1 .categories__img,
.categories__box--2 .categories__img,
.categories__box--3 .categories__img,
.categories__box--4 .categories__img,
.categories__box--5 .categories__img,
.categories__box--6 .categories__img {
  background-size: cover;
  background-position: center;
}

.categories__img {
  width: 100%;
  height: 100%;

  transition: all 0.2s;
}

.categories__box:hover .categories__img {
  transform: scale(1.1);
}

.categories__box .categories__title {
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories__box h3 {
  text-align: center;
  font-size: 9.6rem;
  font-weight: 100;
  color: #fff;
  text-shadow: 6px 5px 0 #684756;
}

.categories__box:hover img {
  transform: scale(1.1);
}

/* FEATURES */
.features {
  margin: 6rem;
}

.features__container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.features__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 25rem;
  height: 20rem;
  text-align: center;
}

.features__box i {
  color: rgb(var(--color-purple), 0.7);
  font-size: 6.4rem;
}

.features__box h4 {
  color: rgb(var(--color-purple), 0.7);
  font-size: 2rem;
  font-weight: 400;
  width: 18rem;
}

.features__box p {
  color: rgb(var(--color-grey));
  font-size: 2rem;
}

/* WEEKLY */
.weekly {
  padding: 3rem;
  margin: 3rem;
  background-color: rgb(var(--color-dark-purple));
}

.weekly h2 {
  color: rgb(var(--color-white));
}

.weekly__container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.weekly__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgb(var(--color-second-purple));
  padding: 3px;
  width: 30rem;
  height: 45rem;
}

.weekly__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.weekly__title h3 {
  color: rgb(var(--color-white));
  font-weight: 400;
  font-size: 2.4rem;
}

.weekly__content--1 {
  background: url("../assets/home-weekly/rupert-bookshelf.webp");
}

.weekly__content--2 {
  background: url("../assets/home-weekly/retro-tub-chair.webp");
}

.weekly__content--3 {
  background: url("../assets/home-weekly/eams-chair.webp");
}

.weekly__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1.6rem;

  background-size: cover;
  background-position: center;
  height: 40rem;
}

/* TESTIMONIALS */
.testimonials {
  margin: 3rem;
  padding: 3rem;
  background-color: #f4f4f4;
}

.testimonials__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: max-content;
  gap: 2rem;
  margin: 0 auto;
}

.testionials__card {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: flex-end;
  align-items: center;

  padding: 1rem 2rem;
  width: 60rem;
  height: 30rem;
}

.testimonials__card--filled {
  background-color: rgba(var(--color-light-grey), 0.5);
  border: 2px solid transparent;
}

.testimonials__card--border {
  border: 2px solid rgba(var(--color-light-grey), 0.5);
}

.testimonials__face {
  position: absolute;
  bottom: 5rem;
  left: 2.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials__card-heading {
  width: 30rem;
  align-self: flex-end;
  padding-bottom: 2rem;
}

.testimonials__card-heading h3 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 100;
}

.testimonials__text {
  grid-column: 1/ 3;
  width: 45rem;
  font-size: 2rem;
  text-align: center;
}

.testimonials__name {
  font-size: 2rem;
}

.testimonials__footer {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 1rem;
}

.testimonials__stars {
  position: relative;
  display: flex;
  gap: 1rem;
  padding-right: 1.5rem;
}

.testimonials__star {
  height: 3rem;
  width: 3rem;

  /* STAR SHAPE -> */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.testimonials__star--filled {
  position: relative;
  z-index: 2;
  background-color: rgb(var(--color-gold));
}

.testimonials__star--empty {
  z-index: 1;
  background-color: rgb(var(--color-light-grey));
}

.testimonials__star-container {
  width: 1.5rem;
  overflow: hidden;
}

.testimonials__star--6 {
  position: absolute;
  right: 0;
}

/* PRODUCT PAGE ------------------------------------------------------ */
.path {
  font-size: 2rem;
  color: rgb(var(--color-grey));
  align-self: center;
}

.sidebar {
  margin-bottom: 6rem;
}

.sidebar__title {
  position: relative;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 100;
  color: rgb(var(--color-dark-purple));
  margin-bottom: 2rem;
}

.sidebar__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4rem;
  width: 5rem;
  height: 0.5rem;
  background-color: rgb(var(--color-light-grey));
}

.sidebar__list {
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 3.2rem;
  font-size: 1.6rem;
  border-bottom: 1px solid rgb(var(--color-light-grey));
}

.sidebar__item span {
  flex-basis: 95%;
  text-align: center;
}
.sidebar__item i {
  color: rgb(var(--color-light-grey));
}

.sidebar__item-list {
  position: relative;
}

.sidebar__item-list::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
  height: 90%;
  width: 2px;
  background-color: rgba(var(--color-light-grey), 0.5);
}

.sidebar__item-list li {
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: rgb(var(--color-grey));
}

.sidebar__item--active {
  border: none !important;
}

.sidebar__item--active i {
  color: rgb(var(--color-gold));
}

.sidebar__item-list li:hover {
  color: rgba(var(--color-gold), 0.8);
}

.sidebar__active-span {
  color: rgb(var(--color-gold)) !important;
  font-size: 1.8rem !important;
}

.sidebar-opener {
  display: none;
  text-align: center;
  cursor: pointer;
  width: 3rem;
  padding: 2rem 0;
  font-size: 1.6rem;
  color: rgba(var(--color-purple), 0.7);
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(var(--color-purple), 0.7);
  transition: all 0.2s;
}

.sidebar-opener:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.products {
  margin-bottom: 6rem;
  text-align: end;
}

.products__text {
  font-size: 1.2rem;
  color: rgb(var(--color-grey));
}

.products__container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.product-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 35rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.product-card img {
  position: relative;
  z-index: 1;
  transition: all 0.2s;
  width: 100%;
}

.product-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.product-card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 6rem;
  padding: 0 2rem;
}

.product-card__content {
  width: 100%;
  height: 12rem;
  position: absolute;
  z-index: 3;
  bottom: -6rem;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.9);
}

.product-card:hover .product-card__content {
  transform: translateY(-6rem);
}

.product-card:hover img {
  scale: 1.1;
}

.product-card:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.product-card__text p:first-child {
  font-size: 1.6rem;
  color: rgb(var(--color-second-purple));
}

.product-card__text p:nth-child(2) {
  font-size: 2rem;
  color: rgb(var(--color-grey));
}

.product-card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

/* CONTACT PAGE ------------------------------------------------------ */
.contact {
  background-color: rgb(var(--color-white));
}

.contact__p {
  padding: 3rem 7rem;
  font-size: 2rem;
  color: rgb(var(--color-grey));
}

.contact__content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 4rem 0 8rem 0;
}

.contact__content,
.contact__heading {
  max-width: 92rem;
  margin: 0 auto;
}

.contact__heading h2 {
  font-size: 4.8rem;
  font-weight: 100;
  color: rgb(var(--color-purple));
}

.contact__heading p {
  color: rgb(var(--color-brown));
  font-size: 2rem;
  margin-top: -1.6rem;
}

.contact__inputs-container {
  display: flex;
  justify-content: space-between;
}

.contact__form button {
  cursor: pointer;
  border: none;
  background-color: rgba(var(--color-purple), 1);
  color: rgb(var(--color-white));
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  transition: all 0.2s;
}

.contact__form button:hover {
  transform: translateY(-2px);
  background-color: rgba(var(--color-purple), 0.8);
}

.contact__input-group {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid rgba(var(--color-purple), 0.2);
  border-radius: 1px;
  width: 44rem;
  gap: 1.5rem;
  margin-bottom: 4rem;
  transition: all 0.2s;
}

.contact__input-group i {
  width: 2rem;
  color: rgba(var(--color-purple), 0.7);
}

.contact__input-group label {
  color: rgba(var(--color-purple), 0.5);
}

.contact__input-group input,
.contact__input-group textarea {
  background-color: transparent;
  border: none;
  outline: none;
  width: calc(100% - 3.5rem);
  height: 100%;
}

.contact__input-group label {
  position: absolute;
  left: 4.5rem;
  transition: all 0.2s;
}

/* ANIMATION OF LABEL GOING UP */
.contact__input-group input:focus + label,
.contact__input-group textarea:focus + label {
  transform: translate(-3.3rem, -4rem);
  color: rgb(var(--color-brown));
}

.contact__input-group input:not(:focus):not(:placeholder-shown) + label,
.contact__input-group textarea:not(:focus):not(:placeholder-shown) + label {
  transform: translate(-3.3rem, -3rem);
  color: rgba(var(--color-purple), 0.5);
}

/* IMPORTANT FOR ANIMATION OF LABEL GOING UP */
.contact__input-group input::placeholder,
.contact__input-group textarea::placeholder {
  color: transparent;
}

.contact__input-group:focus-within {
  border-color: transparent;
  box-shadow: 0 0 0 1rem rgba(var(--color-purple), 0.2);
}

.contact__input-group:focus-within i {
  color: rgb(var(--color-brown));
}

.contact__features {
  display: flex;
  gap: 4rem;
}

.contact__feature {
  text-align: center;
  width: 28rem;
  color: rgba(var(--color-purple), 0.7);
}

.contact__feature i {
  font-size: 4.8rem;
}

.contact__feature h3 {
  font-weight: 100;
  font-size: 2.4rem;
}

.contact__feature p {
  font-size: 1.6rem;
  color: rgba(var(--color-purple), 0.5);
}

.contact__map {
  position: relative;
  overflow: hidden;
  width: 95rem;
}

.contact__map-dot {
  position: absolute;
  font-size: 2.5rem;
  color: crimson;
}

.contact__map-dot--1 {
  top: 20rem;
}

.contact__map-dot--2 {
  right: 3rem;
  top: 11rem;
}

.contact__map-dot--3 {
  right: 40rem;
  top: 30rem;
}

/* MEDIA QUERIES */
/* FOR HOME PAGE
--------------------------------------------------------- */
@media (max-width: 116.5em) /* 1864px */ {
  .slider__img-text {
    width: 80%;
  }

  .categories__container {
    grid-template-rows: repeat(2, 30rem);
  }

  .categories__box h3 {
    font-size: 8rem;
  }
}

@media (max-width: 93.75em) /* 1500px */ {
  .categories__container {
    grid-template-rows: repeat(2, 30rem);
  }

  .categories__box h3 {
    font-size: 7rem;
  }
}

@media (max-width: 85em) /* 1360px */ {
  .slider__img-text {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
  }

  .slider__img-container {
    height: 60rem;
  }

  .slider__text-box {
    margin-left: 0px;
    width: 100%;
  }

  .testimonials__card-heading {
    padding-bottom: 0rem;
  }

  .testimonials__card-heading h3 {
    font-size: 2.8rem;
  }

  .testimonials__quote {
    width: 90px;
  }

  .testimonials__text {
    width: 35rem;
    font-size: 1.8rem;
    text-align: center;
  }

  .testimonials__text p {
    display: inline;
  }

  .testimonials__face {
    width: 80px;
    height: 80px;
    bottom: 7rem;
    left: 3rem;
  }

  .testimonials__face img {
    width: 80px;
  }

  .testimonials__name {
    font-size: 1.6rem;
  }

  .testionials__card {
    width: 50rem;
    height: 25rem;
    padding: 0 2rem;
  }

  .testimonials__stars {
    gap: 0.8rem;
    padding-right: 1.3rem;
  }

  .testimonials__star {
    height: 2.6rem;
    width: 2.6rem;
  }

  .testimonials__star-container {
    width: 1.4rem;
  }
}

@media (max-width: 81em) /* 1296px */ {
  .categories__container {
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 30rem);
  }

  .categories__box--3 {
    grid-column: 1/3;
  }

  .categories__box--4 {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .categories__box--5 {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

@media (max-width: 72em) /* 1152px */ {
  .categories,
  .features,
  .weekly,
  .testimonials {
    padding: 2rem;
    margin: 2rem;
  }

  .testimonials__container {
    gap: 1rem;
  }

  .testionials__card {
    width: 45rem;
  }

  .testimonials__text {
    width: 30rem;
    font-size: 1.6rem;
    text-align: center;
  }
}

@media (max-width: 67.5em) /* 1080px */ {
  .heading {
    margin-bottom: 2rem;
  }

  .heading h2 {
    font-size: 4rem;
  }

  .heading p {
    margin-top: -1rem;
    font-size: 1.6rem;
  }

  .slider__img-text--big {
    font-size: 10rem;
  }

  .slider__img-text--small {
    font-size: 4rem;
    font-style: italic;
  }

  .categories__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories__box--3 {
    grid-column: auto;
  }

  .categories__box--4 {
    grid-column: auto;
    grid-row: auto;
  }

  .categories__box--5 {
    grid-column: auto;
    grid-row: auto;
  }

  .features__container {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    grid-template-rows: repeat(2, 20rem);
  }

  .weekly__container {
    flex-wrap: wrap;
  }

  .footer {
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
    height: auto;
  }

  .footer__first-container {
    gap: 0rem;
  }

  .footer__brand {
    font-size: 2rem;
  }

  .footer__brand img {
    width: 150px;
  }

  .footer__social-media {
    font-size: 1.2rem;
  }

  .footer__icon-container {
    gap: 1rem;
  }

  .footer__social-media i {
    font-size: 2.6rem;
    padding-top: 0.5rem;
  }

  .footer__second-container {
    display: flex;
    text-align: center;
    gap: 3rem;
  }

  .footer__second-container h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .footer__second-container h4 {
    font-size: 1.2rem;
  }

  .footer__second-container p {
    font-size: 1rem;
  }
}

@media (max-width: 62em) /* 992px */ {
  .testimonials__container {
    display: flex;
    overflow-x: auto;
    width: 100%;
  }
}

@media (max-width: 50em) /* 800px */ {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header__list {
    justify-content: space-between;
  }

  .header__link {
    border-width: 6.5px;
  }

  .header__link a:link,
  .header__link a:visited {
    margin-bottom: -6.5px;
  }

  .slider__img-container {
    height: 50rem;
  }

  .slider__img-text--big {
    font-size: 6.4rem;
  }

  .slider__img-text--small {
    font-size: 2.4rem;
  }

  .categories__container {
    grid-template-rows: repeat(4, 21rem);
  }

  .categories__box--3 {
    grid-column: 1 / 3;
  }

  .categories__box--4 {
    grid-column: 2/3;
    grid-row: 1 /3;
  }

  .weekly__container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .weekly__card {
    width: 80%;
    height: 30rem;
  }
}

@media (max-width: 47em) /* 752px */ {
  .header {
    padding: 0 2rem;
  }

  .categories,
  .features,
  .weekly,
  .testimonials {
    padding: 1rem;
    margin: 1rem;
  }

  .categories__box h3 {
    font-size: 5rem;
  }
}

@media (max-width: 37.5em) /* 600px */ {
  .heading {
    margin-bottom: 1rem;
  }

  .heading h2 {
    font-size: 3rem;
  }

  .heading p {
    font-size: 1.4rem;
  }

  .categories,
  .features,
  .weekly,
  .testimonials {
    padding: 2rem 0;
    margin: 0;
  }

  .categories {
    border: none;
  }

  .categories__box h3 {
    font-size: 4rem;
  }

  .header__list {
    font-size: 1.5rem;
  }

  .features__container {
    gap: 2rem;
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: repeat(2, 15rem);
    align-items: center;
  }

  .features__box {
    width: 18rem;
    height: 15rem;
    text-align: center;
  }

  .features__box i {
    font-size: 4.8rem;
  }

  .features__box h4 {
    font-size: 1.6rem;
    width: 18rem;
  }

  .features__box p {
    font-size: 1.4rem;
  }
}

@media (max-width: 28em) /* 448px */ {
  .header__list {
    gap: 1rem;
    font-size: 1.2rem;
  }

  .header__link {
    border-width: 4px;
    padding: 0.5rem;
  }

  .header__link a:link,
  .header__link a:visited {
    margin-bottom: -4px;
  }

  .features__container {
    gap: 2rem;
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: repeat(2, 10rem);
  }

  .features__box {
    width: 15rem;
    height: 10rem;
    gap: 0.5rem;
  }

  .features__box i {
    font-size: 3rem;
  }

  .features__box h4 {
    font-size: 1.2rem;
    width: 18rem;
  }

  .features__box p {
    font-size: 1rem;
  }

  .footer__second-container {
    flex-direction: column;
  }
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* FOR PRODUCTS PAGE
--------------------------------------------------------- */
@media (max-width: 65.5em) /* 1048px */ {
  .products__grid {
    grid-template-areas:
      "header header header header"
      "sidebar-opener path path path"
      "sidebar-opener section section section"
      "footer footer footer footer ";
    grid-template-columns: 10% 8% auto;
    grid-template-rows: auto 3rem repeat(2, auto);
  }

  .products {
    margin: 0 2rem;
  }

  .products__container {
    padding-bottom: 4rem;
  }

  .sidebar {
    display: none;
  }

  .sidebar-opener {
    display: block;
  }

  .products__grid .path {
    align-self: flex-end;
    font-size: 1.2rem;
  }

  .products__text {
    font-size: 0.8rem;
  }
}

@media (max-width: 47em) /* 752px */ {
  .products__container {
    gap: 1rem;
  }

  .product-card {
    width: 20rem;
    height: 25rem;
  }

  .product-card {
    display: flex;
    align-items: center;
  }

  .product-card__text {
    height: 5rem;
  }

  .product-card__content {
    height: 5rem;
    bottom: 0;
  }

  .product-card:hover .product-card__content {
    transform: translateY(0);
  }

  .product-card__text p:first-child {
    font-size: 1.2rem;
  }

  .product-card__text p:nth-child(2) {
    font-size: 1.4rem;
  }

  .product-card__btn {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: 2rem;
  }

  .product-card__btn .btn__details::before,
  .product-card__btn .btn__details::after {
    display: none;
  }
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
