%defaultBtn {
  cursor: pointer;
  position: relative;
  border: none;
  background-color: $color-purple;
  color: $color-white;
  transition: all 0.2s;

  &:hover {
    background-color: tint($color-purple, 10%);
    transform: translateY(-3px);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $color-gold;
  }
}
