%defaultBtn {
  cursor: pointer;
  position: relative;
  border: none;
  background-color: $color-purple;
  color: $color-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $color-gold;
  }
}
