// COLORS --------------------------------------------
$color-navbar: #383a63;
$color-dark-purple: #1a1423;
$color-purple: #3d304a;
$color-second-purple: #684756;
$color-white: #f9f9f9;
$color-brown: #96705b;
$color-grey: #929292;
$color-gold: #ad8850;
$color-light-grey: #d9d9d9;
$color-link-active: #bb465e;

// SIZES ---------------------------------------------
