// COLORS --------------------------------------------
$color-navbar: #383a63;
$color-dark-purple: #1a1423;
$color-purple: #3d304a;
$color-second-purple: #684756;
$color-white: #f9f9f9;
$color-brown: #96705b;
$color-grey: #929292;
$color-gold: #ad8850;
$color-light-grey: #d9d9d9;
$color-link-active: #bb465e;

// SIZES ---------------------------------------------
$fontsizes: (
  xtiny: 1rem,
  tiny: 1.2rem,
  small: 1.4rem,
  default: 1.6rem,
  big: 1.8rem,
  large: 2rem,
  xl: 2.2rem,
  xxl: 2.4rem,
  xxxl: 2.6rem,
  huge: 3rem,
  xh: 4rem,
  xxh: 4.8rem,
  xxxh: 6rem,
);
