// COLORS --------------------------------------------
$color-navbar: rgb(56, 58, 99);
$color-dark-purple: rgb(26, 20, 35);
$color-purple: rgb(61, 48, 74);
$color-second-purple: rgb(104, 71, 86);
$color-white: rgb(249, 249, 249);
$color-brown: rgb(150, 112, 91);
$color-grey: rgb(146, 146, 146);
$color-gold: rgb(173, 136, 80);
$color-light-grey: rgb(217, 217, 217);
$color-link-active: rgb(187, 70, 94);

// SIZES ---------------------------------------------
