.footer {
  background-color: $color-dark-purple;
  color: $color-white;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;

  &__first-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__brand {
    @include centeredFlex;
    font-size: map-get($fontsizes, huge);
  }

  &__social-media {
    @include centeredFlex;
    flex-direction: column;
    font-size: map-get($fontsizes, large);
  }

  &__icon-container {
    display: flex;
    gap: 2rem;
  }

  &__social-media i {
    font-size: 3.6rem;
    padding-top: 1rem;
  }

  &__icon {
    &--instagram {
      color: #c27ac8;
    }

    &--twitter {
      color: #5086b8;
    }

    &--facebook {
      color: #4054bb;
    }
  }

  &__second-container {
    display: flex;
    text-align: center;
    gap: 3rem;

    & h3 {
      font-size: map-get($fontsizes, xxxl);
      margin-bottom: 1rem;
    }

    & h4 {
      font-size: map-get($fontsizes, default);
    }

    & p {
      font-size: map-get($fontsizes, tiny);
    }
  }

  @media (max-width: 67.5em) /* 1080px */ {
    & {
      flex-direction: column;
      gap: 4rem;
      padding: 3rem;
      height: auto;
    }

    &__first-container {
      gap: 0rem;
    }

    &__brand {
      font-size: map-get($fontsizes, large);
    }

    &__brand img {
      width: 150px;
    }

    &__social-media {
      font-size: map-get($fontsizes, tiny);
    }

    &__icon-container {
      gap: 1rem;
    }

    &__social-media i {
      font-size: map-get($fontsizes, xxxl);
      padding-top: 0.5rem;
    }

    &__second-container {
      display: flex;
      text-align: center;
      gap: 3rem;
    }

    &__second-container h3 {
      font-size: map-get($fontsizes, large);
      margin-bottom: 0.5rem;
    }

    &__second-container h4 {
      font-size: map-get($fontsizes, tiny);
    }

    &__second-container p {
      font-size: map-get($fontsizes, xtiny);
    }
  }

  @media (max-width: 28em) /* 448px */ {
    &__second-container {
      flex-direction: column;
    }
  }
}
