.footer {
  background-color: $color-dark-purple;
  color: $color-white;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
}

.footer__first-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.footer__icon-container {
  display: flex;
  gap: 2rem;
}

.footer__social-media i {
  font-size: 3.6rem;
  padding-top: 1rem;
}

.footer__icon--instagram {
  color: #c27ac8;
}

.footer__icon--twitter {
  color: #5086b8;
}

.footer__icon--facebook {
  color: #4054bb;
}

.footer__second-container {
  display: flex;
  text-align: center;
  gap: 3rem;
}

.footer__second-container h3 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.footer__second-container h4 {
  font-size: 1.6rem;
}

.footer__second-container p {
  font-size: 1.2rem;
}
