/* GRID LAYOUT */
.home__grid {
  grid-template-rows: repeat(3, auto);
}

.products__grid {
  display: grid;
  grid-template-rows: auto 8rem repeat(2, auto);
}

.home__grid {
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
}

.products__grid {
  grid-template-areas:
    "header header header header header"
    "sidebar-opener path path path path"
    "sidebar-opener sidebar ____ section ___"
    "footer footer footer footer footer";
  grid-template-columns: 5% 28rem 8% auto 10%;
}

.products__grid header {
  grid-area: header;
}

.products__grid .path {
  grid-area: path;
}

.products__grid aside {
  grid-area: sidebar;
}

.sidebar-opener {
  grid-area: sidebar-opener;
}

.products__grid section {
  grid-area: section;
}

.products__grid footer {
  grid-area: footer;
}
