.cart {
  min-height: calc(100vh - 38rem);

  &__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 38rem;
    width: 120rem;
    margin: 0 auto;
    padding: 2rem 0;

    @media (max-width: 81.25em) /* 1300px */ {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      width: auto;
      gap: 4rem;
    }

    table {
      margin-bottom: 1rem;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__table {
    width: 60rem;
    border-collapse: collapse;

    @media (max-width: 81.25em) /* 1300px */ {
      width: 70vw;
    }

    @media (max-width: 56.25em) /* 900px */ {
      width: 90vw;
    }
  }

  &__item {
    border-bottom: 1px solid rgba($color-light-grey, 0.5);

    & td:first-child {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    & h3 {
      font-size: map-get($fontsizes, small);
      font-weight: 100;
      color: $color-second-purple;
    }

    & p {
      font-size: map-get($fontsizes, large);
      color: #5a5a5a;

      @media (max-width: 48em) /* 768px */ {
        font-size: map-get($fontsizes, small);
        width: max-content;
      }
    }
  }

  &__quantity {
    text-align: center;

    & div {
      @include centeredFlex;
      margin: 0 auto;
      width: 9.5rem;
      height: 3.5rem;
      font-size: map-get($fontsizes, default);
      color: #6b6b6b;
      border: 1px solid $color-light-grey;
    }

    &--btn {
      background-color: $color-light-grey;
      cursor: pointer;
    }

    &--btn i {
      font-size: map-get($fontsizes, xtiny);
    }

    @media (max-width: 48em) /* 768px */ {
      & div {
        width: 8rem;
        height: 3rem;
        font-size: map-get($fontsizes, small);
      }
    }
  }

  &__products-cta {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & button {
      width: 32%;
    }

    &--filled {
      background-color: rgba($color-second-purple, 0.7);
      color: $color-white;
    }

    &--border {
      background-color: transparent;
      color: $color-second-purple;
      border-color: rgba($color-second-purple, 0.7) !important;
    }
  }

  &__x {
    font-size: 2.5rem;
    cursor: pointer;
    color: $color-light-grey;
  }

  &__price {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & button {
      width: 100%;
      background-color: $color-gold;
      color: $color-white;
    }

    @media (max-width: 81.25em) /* 1300px */ {
      width: 70vw;
    }

    @media (max-width: 56.25em) /* 900px */ {
      width: 90vw;
    }
  }

  &__price-text {
    margin-bottom: 1rem;
  }

  &__price-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: map-get($fontsizes, default);
    padding: 4rem 0 1rem 0;
    color: #6b6b6b;
    border-bottom: 1px solid rgba($color-light-grey, 0.5);

    & p:not(:first-child) {
      font-size: map-get($fontsizes, tiny);
      color: $color-grey;
    }

    & input {
      border: 1px solid $color-light-grey;
    }
  }

  &__price-total {
    font-size: map-get($fontsizes, large) !important;
    color: $color-dark-purple !important;
  }

  &__table th,
  &__price h3 {
    text-align: left;
    font-size: map-get($fontsizes, large);
    font-weight: 100;
    color: #6b6b6b;
    border-bottom: 4px solid $color-light-grey;
  }

  &__table hr,
  &__item td {
    padding: 1rem 2rem 1rem 0;
  }

  &__products-cta button,
  &__price button {
    cursor: pointer;
    font-size: map-get($fontsizes, small);
    border: 2px solid transparent;
    padding: 1rem 2rem;

    @media (max-width: 48em) /* 768px */ {
      font-size: map-get($fontsizes, xtiny);
      padding: 0.5rem 1rem;
    }
  }
}

.cart .heading {
  width: 120rem;
  margin: 0 auto;
  padding-bottom: 3rem;

  @media (max-width: 81.25em) /* 1300px */ {
    width: 80vw;
  }
}
