.sidebar {
  margin-bottom: 6rem;

  &__title {
    position: relative;
    text-align: center;
    font-size: map-get($fontsizes, huge);
    font-weight: 100;
    color: $color-dark-purple;
    margin-bottom: 2rem;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 4rem;
      width: 5rem;
      height: 0.5rem;
      background-color: $color-light-grey;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 3.2rem;
    font-size: map-get($fontsizes, default);
    border-bottom: 1px solid $color-light-grey;

    & span {
      flex-basis: 95%;
      text-align: center;
    }

    & i {
      color: $color-light-grey;
    }

    &--active {
      border: none !important;
    }

    &--active i {
      color: $color-gold;
    }
  }

  &__item-list {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.6rem;
      height: 90%;
      width: 2px;
      background-color: rgba($color-light-grey, 0.5);
    }

    & li {
      cursor: pointer;
      text-align: center;
      padding: 0.5rem;
      font-size: map-get($fontsizes, default);
      color: $color-grey;
    }

    & li:hover {
      color: rgba($color-gold, 0.8);
    }
  }

  &__active-span {
    color: $color-gold !important;
    font-size: map-get($fontsizes, big); !important;
  }

  @media (max-width: 65.5em) /* 1048px */ {
    & {
      display: none;
    }
  }
}

.sidebar-opener {
  display: none;
  text-align: center;
  cursor: pointer;
  width: 3rem;
  padding: 2rem 0;
  font-size: map-get($fontsizes, default);
  color: rgba($color-purple, 0.7);
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba($color-purple, 0.7);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 65.5em) /* 1048px */ {
    & {
      display: block;
    }
  }
}

.products {
  margin-bottom: 6rem;
  text-align: end;

  &__text {
    font-size: map-get($fontsizes, tiny);
    color: $color-grey;
  }

  &__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
  }

  @media (max-width: 65.5em) /* 1048px */ {
    & {
      margin: 0 2rem;

      &__container {
        padding-bottom: 4rem;
        justify-content: center;
      }

      &__text {
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: 47em) /* 752px */ {
    &__container {
      gap: 1rem;
    }
  }
}

.product-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 35rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 6rem;
    padding: 0 2rem;
  }

  &__text p:first-child {
    font-size: map-get($fontsizes, default);
    color: $color-second-purple;
  }

  &__text p:nth-child(2) {
    font-size: map-get($fontsizes, large);;
    color: $color-grey;
  }

  &__content {
    width: 100%;
    height: 12rem;
    position: absolute;
    z-index: 3;
    bottom: -6rem;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

  & img {
    position: relative;
    z-index: 1;
    transition: all 0.2s;
    width: 100%;
  }

  &:hover &__content {
    transform: translateY(-6rem);
  }

  &:hover img {
    scale: 1.1;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  @media (max-width: 47em) /* 752px */ {
    .product-card {
      width: 80%;
      height: 25rem;
      display: flex;
      align-items: center;

      &__text {
        height: 5rem;

        & p:first-child {
          font-size: map-get($fontsizes, tiny);
        }

        & p:nth-child(2) {
          font-size: map-get($fontsizes, small);
        }
      }

      &__content {
        height: 5rem;
        bottom: 0;
      }

      &:hover &__content {
        transform: translateY(0);
      }

      &__btn {
        position: absolute;
        top: -3.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        height: 2rem;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}
