.us {
  & .heading {
    max-width: 121rem;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 8rem 0;
  }

  &__maps {
    display: flex;
    justify-content: space-between;
    width: 121rem;
  }

  &__map {
    text-align: center;
    position: relative;
    background-color: rgba(black, 0.8);
    padding: 3px;

    & p {
      font-size: 2.4rem;
      color: $color-gold;
    }

    & h3 {
      font-weight: 100;
      font-size: 3.2rem;
      color: $color-white;
    }

    & div {
      position: absolute;
      padding-top: 1rem;
      bottom: 7px;
      left: 3px;
      width: calc(100% - 6px);
      backdrop-filter: blur(2px);
      background-color: rgba(black, 0.8);
    }

    & i {
      position: absolute;
      font-size: 2rem;
      color: crimson;
    }

    &--1 i {
      top: 12rem;
      right: 8rem;
    }

    &--2 i {
      bottom: 10rem;
      right: 16rem;
    }

    &--3 i {
      bottom: 18rem;
      left: 1rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: rgba($color-gold, 0.3);
    width: 100%;
    padding: 3rem 0;
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: repeat(2, max-content);
    gap: 6rem;
    text-align: center;
  }

  &__feature {
    color: rgba($color-purple, 0.7);

    & i {
      font-size: 4.8rem;
    }

    & h3 {
      font-size: 2.4rem;
      font-weight: 100;
    }

    & p {
      font-size: 1.6rem;
      color: rgba($color-purple, 0.5);
    }
  }

  &__video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55rem;
    overflow: hidden;
  }
}
