.us {
  & .heading {
    max-width: 121rem;
    margin: 0 auto;

    @media (max-width: 81em) /* 1296px */ {
      padding: 0 2rem;
    }
  }

  &__main {
    @include centeredFlex;
    flex-direction: column;
    gap: 7rem;
    padding: 8rem 0;

    @media (max-width: 81em) /* 1296px */ {
      gap: 5rem;
    }
  }

  &__maps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 121rem;

    @media (max-width: 81em) /* 1296px */ {
      width: 90%;
    }

    @media (max-width: 43.75em) /* 700px */ {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__map {
    text-align: center;
    position: relative;
    background-color: rgba(black, 0.8);
    padding: 3px;

    & p {
      font-size: map-get($fontsizes, xxl);
      color: $color-gold;
    }

    & h3 {
      font-weight: 100;
      font-size: map-get($fontsizes, huge);
      color: $color-white;
    }

    & div {
      position: absolute;
      padding: 1rem 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(black, 0.8);
    }

    & i {
      position: absolute;
      font-size: map-get($fontsizes, large);
      color: crimson;
    }

    &--1 i {
      top: 12rem;
      right: 8rem;
    }

    &--2 i {
      bottom: 10rem;
      right: 16rem;
    }

    &--3 i {
      bottom: 18rem;
      left: 1rem;
    }

    @media (max-width: 68.75em) /* 1100px */ {
      & img {
        width: 25rem;
      }

      & p {
        font-size: map-get($fontsizes, default);
      }

      & h3 {
        font-size: map-get($fontsizes, large);
      }

      & i {
        font-size: 1.5rem;
      }
    }

    @media (max-width: 56.25em) /* 900px */ {
      & img {
        width: 20rem;
      }

      & p {
        font-size: map-get($fontsizes, small);
      }

      & h3 {
        font-size: map-get($fontsizes, default);
      }

      & i {
        font-size: map-get($fontsizes, tiny);
      }
    }

    @media (max-width: 43.75em) /* 700px */ {
      height: 20rem;
      overflow: hidden;

      & img {
        width: 100%;
      }

      & p {
        font-size: map-get($fontsizes, small);
      }

      & h3 {
        font-size: map-get($fontsizes, default);
      }

      & i {
        font-size: map-get($fontsizes, tiny);
      }
    }
  }

  &__info {
    @include centeredFlex;
    gap: 10rem;
    background-color: rgba($color-gold, 0.3);
    width: 100%;
    padding: 3rem 0;
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: repeat(2, max-content);
    gap: 6rem;
    text-align: center;
  }

  &__feature {
    color: rgba($color-purple, 0.7);

    & i {
      font-size: map-get($fontsizes, xxh);
    }

    & h3 {
      font-size: map-get($fontsizes, xxl);
      font-weight: 100;
    }

    & p {
      font-size: map-get($fontsizes, default);
      color: rgba($color-purple, 0.5);
    }
  }

  &__video {
    @include centeredFlex;
    height: 55rem;
    overflow: hidden;

    @media (max-width: 81em) /* 1296px */ {
      display: none;
    }
  }
}
