.current-path {
  padding: 3rem 7rem;
  font-size: map-get($fontsizes, large);
  color: $color-grey;

  @media (max-width: 68.75em) /* 1100px */ {
    text-align: left;
    padding: 2rem;
    font-size: map-get($fontsizes, default);
  }

  @media (max-width: 37.5em) /* 600px */ {
    padding: rem;
    padding-top: 2rem;
    font-size: map-get($fontsizes, tiny);
    margin-bottom: -0.5rem;
  }
}
