.heading {
  text-align: center;
  margin-bottom: 2.4rem;

  h2 {
    font-size: map-get($fontsizes, xxh);
    color: #3d314a;
    font-weight: 400;
  }

  p {
    margin-top: -1.25rem;
    color: #73472f;
    font-size: map-get($fontsizes, large);
  }

  &--start {
    text-align: start;
  }

  @media (max-width: 67.5em) /* 1080px */ {
    & {
      margin-bottom: 2rem;
    }

    & h2 {
      font-size: map-get($fontsizes, xh);
    }

    & p {
      margin-top: -1rem;
      font-size: map-get($fontsizes, default);
    }
  }

  @media (max-width: 37.5em) /* 600px */ {
    & {
      margin-bottom: 1rem;
    }

    & h2 {
      font-size: map-get($fontsizes, huge);
    }

    & p {
      font-size: map-get($fontsizes, small);
    }
  }
}
