.slider {
  &__group {
    position: relative;
  }

  &__arrows {
    height: 4rem !important;
    width: 4rem !important;
  }

  &__img-container {
    @include centeredFlex;

    overflow: hidden;
    height: 80rem;
    margin-top: -0.1rem;

    & img {
      object-fit: cover;
    }
  }

  &__content {
    @include centeredFlex;

    position: absolute;
    height: 100%;
    width: 60%;
  }

  &__text {
    text-align: center;
    width: 70rem;
  }

  &__content--1 {
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);

    color: $color-white;
    background-color: rgba($color-dark-purple, 0.7);

    & .slider__text {
      margin-left: -30%;

      &--big {
        font-size: 12.8rem;
      }

      &--small {
        font-size: 6.4rem;
        font-style: italic;
      }
    }
  }

  &__content--2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    clip-path: circle(50% at 50% 0);
    align-items: flex-start;

    color: $color-white;
    background-color: rgba($color-gold, 0.9);

    & .slider__text {
      @include centeredFlex;
      height: 50%;
      flex-direction: column;

      &--icon {
        @include centeredFlex;
        font-size: 7rem;
        color: white;
        width: 8rem;
        height: 8rem;

        border-radius: 2rem;
        background-color: #55976d;
        padding: 1rem;
      }

      &--big {
        font-size: map-get($fontsizes, xxxh);
        text-shadow: 5px 5px 0 rgba($color-dark-purple, 0.2);
      }

      &--small {
        color: rgba($color-dark-purple, 0.7);
        border: 1px solid rgba($color-dark-purple, 0.7);
        font-size: map-get($fontsizes, huge);
        padding: 1rem 2rem;
      }
    }
  }

  &__content--3 {
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 90%;
    color: $color-white;
    background-color: rgba(220, 20, 60, 0.95);

    & .slider__text {
      @include centeredFlex;
      flex-direction: column;
      align-self: start;
      height: 70%;
      width: 50%;
      padding: 0 4rem;

      &--big {
        font-size: 8rem;
      }

      &--small {
        cursor: pointer;
        font-size: map-get($fontsizes, xh);
        padding: 1rem 2rem;
        color: $color-dark-purple;
        border: 1px solid $color-dark-purple;
      }
    }
  }

  &__content--4 {
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
    width: 140rem;
    height: 40rem;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%);
    color: $color-white;
    background-color: rgba(66, 95, 184, 0.95);

    & .slider__text {
      @include centeredFlex;
      flex-direction: column;
      height: 100%;
      width: 50%;

      &--big {
        font-size: 8rem;
      }

      &--small {
        font-size: map-get($fontsizes, huge);
        width: 40rem;
        line-height: 3rem;
        margin-top: -1rem;
        color: $color-dark-purple;
      }
    }

    & button {
      margin-top: 2rem;
      font-size: map-get($fontsizes, large);
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-color: transparent;
      border: 1px solid $color-white;
      color: $color-white;
    }
  }

  @media (max-width: 116.5em) /* 1864px */ {
    &__content {
      width: 80%;
    }
  }

  @media (max-width: 85em) /* 1360px */ {
    &__content {
      clip-path: none;
      width: 100%;
    }

    &__img-container {
      height: 60rem;
    }

    &__text {
      margin-left: 0px !important;
      width: 100%;
    }

    &__content {
      width: 100%;
      height: 100%;

      &--2 {
        align-items: center;
      }

      &--3 {
        align-items: center;
        justify-content: center;
      }

      &--2 .slider__text {
        width: 60% !important;
      }

      &--3 .slider__text {
        align-self: center;
      }
    }
  }

  @media (max-width: 72em) /* 1152px */ {
    &__content--3 &__text--big {
      font-size: map-get($fontsizes, xxxh);
    }

    &__content--3 &__text--small {
      font-size: map-get($fontsizes, huge);
    }
  }

  @media (max-width: 67.5em) /* 1080px */ {
    &__content--1 &__text--big {
      font-size: 10rem;
    }

    &__content--1 &__text--small {
      font-size: map-get($fontsizes, xh);
      font-style: italic;
    }

    &__content--2 &__img-icon {
      font-size: 5.5rem;
      width: 7rem;
      height: 7rem;
    }

    &__content--2 &__text--big {
      font-size: map-get($fontsizes, xxxh);
    }

    &__content--2 &__text--small {
      font-size: map-get($fontsizes, large);
    }
  }

  @media (max-width: 50em) /* 800px */ {
    &__img-container {
      height: 50rem;
    }

    &__content--1 &__text--big {
      font-size: 6.4rem;
    }

    &__content--1 &__text--small {
      font-size: map-get($fontsizes, xxl);
    }

    &__content--2 &__img-icon {
      font-size: map-get($fontsizes, huge);
      width: 4.5rem;
      height: 4.5rem;
    }

    &__content--2 &__text--big {
      font-size: map-get($fontsizes, xh);
    }

    &__content--2 &__text--small {
      font-size: map-get($fontsizes, xtiny);
    }

    &__content--3 &__text--big {
      font-size: map-get($fontsizes, xh);
    }

    &__content--3 &__text--small {
      font-size: 1.5rem;
    }

    &__content--4 &__text--big {
      font-size: map-get($fontsizes, xxh);
    }

    &__content--4 &__text--small {
      font-size: map-get($fontsizes, large);
    }

    &__content--4 button {
      margin-top: 1rem;
      font-size: map-get($fontsizes, xtiny);
      padding: 0.5rem 1rem;
    }
  }
}
